@import url('http://fonts.cdnfonts.com/css/facebook-sans');

*{
    font-size: 14px;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #f2f2f2;
    color: #1c1e21;
}

main{
    width: 1000px;
    margin: 0 auto;
    margin-top: 120px;
}

#chamada-facebook{
    margin-top: 100px;
    width: 370px;
    float: left;
}

#chamada-facebook h1{
    font-family: 'Facebook Sans', sans-serif;

    font-size: 52px;
    font-weight: bolder;
    color: #1877f2;
}

#chamada-facebook p{
    font-size: 26px;
    line-height: 32px;
    width: 500px;
}

form{
    float: right;
    width: 350px;

    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 14px;
    margin: 50px 20px 20px 20px;
}

form input[type="text"], form input[type="password"]{
    width: 320px;
    height: 22px;
    margin-bottom: 10px;
    padding: 18px;
    font-size: 16px;

    outline: none;
    color: #1d2129;
    caret-color: #005eff;
    border-radius: 5px;
    border: 1px solid #dddfe2;
}

form input[type="text"]:focus, form input[type="password"]:focus{
    border: 1px solid #005eff;
}

form input::placeholder{
    color: #888c92;
}

form input:focus::placeholder{
    color: #c1c5ce;
}

form input[type="submit"]{
    width: 320px;
    padding: 10px 12px;
    margin: 10px auto;

    font-size: 19px;
    border-radius: 6px;
    border: none;
    background-color: #008cfe;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

form input[type="submit"]:hover{
    background-color: #0077ff;
}

.esqueceu-senha{
    margin: 10px auto;
    display: block;
    text-align: center;

    text-decoration: none;
    color: #0077ff;
    font-size: 13px;
    font-weight: 400;
}

.esqueceu-senha:hover{
    text-decoration: underline;
}

.custom-hr{
    margin: 20px auto;
    width: 100%;
    border-bottom: 1px solid #dadef1;
}

.criar-conta{
    border-radius: 6px;
    padding: 14px 16px;
    margin-left: 100px;
    display: inline-block;

    color: #fff;
    background-color: #48ce2e;
    font-weight: bold; 
    text-decoration: none;
    transition: 0.2s;
}

.criar-conta:hover{
    background-color: #43a82e;
}